/*
Project Name: Blog Project
Project Author: Desing and Codes Merve Demirhan
Version:V1
Description: This is website , blog project*/

:root {
    --template-bg: #000;
    --template-color: #fff;
    --max-width: 100%;
    --primary: #0c7489;
    --icon-color: #0c7489;
}


/*****************************/


/*Common Property ***********/

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

i {
    font-size: 2rem;
    opacity: .9;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    border: 2px solid rgb(62, 62, 62);
    /*https://www.cssmatic.com/box-shadow*/
    -webkit-box-shadow: 6px 7px 25px -6px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: 6px 7px 25px -6px rgba(0, 0, 0, 0.71);
    box-shadow: 6px 7px 25px -6px rgba(0, 0, 0, 0.71);
}

img:hover {
    opacity: .9;
    transition: all 2s;
}

p {
    font-size: 0.8rem;
    text-align: justify;
    margin: 0.8rem 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: italic;
}

p:hover {
    background-color: var(--template-bg);
    color: var(--template-color);
    transition: all 3s;
    padding: 0.5rem 0.4rem;
    opacity: .6;
    border-radius: 2%;
}

.my_clearfix ::before {
    content: " ";
    display: block;
    clear: none;
}

.tag_header {
    text-transform: uppercase;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
    margin: 2rem auto;
}

.tag_header:hover {
    transform: rotate(180deg);
    transition: all 2s;
}


/*****************************/


/*line clamp ***********/

.line-clamp4 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.line-clamp6 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.line-clamp8 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.line-clamp10 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.line-clamp15 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 15;
    -webkit-box-orient: vertical;
}


/* navbar first */

#navbar_first {
    background-color: black;
    color: white;
    max-width: var(--max-width);
    max-height: 30rem;
    padding: .2rem;
}

.navbar_first_left {
    float: left;
}

.navbar_first_right {
    float: right;
}

.navbar_first_left li,
.navbar_first_right li {
    display: inline-block;
    margin-right: 0.5rem;
}

.navbar_first_left li a,
.navbar_first_right li a {
    color: var(--template-color);
}

.navbar_first_left li i,
.navbar_first_right li i {
    font-size: 1rem;
    margin-right: 0.2rem;
    color: var(--icon-color);
}

.navbar_first_left li i:hover,
.navbar_first_right li i:hover {
    transform: rotate(360deg);
    transition: all 4s;
}


/* offcanvas login signup*/


/*#login .btn-close{
    background-color: red;*/


/*DARK MODE*/

.dark_mode_class {
    background-color: black;
    color: white;
}


/*navbar second*/

#navbar_second {
    position: sticky;
    top: 0;
    z-index: 1;
}


/*MENU*/

#collapsible_navbar_second li a i {
    font-size: 1.2rem;
    margin-right: .5rem;
}


/*Logo*/

#navbar_second a i {
    font-size: 1.8rem;
    color: #579383
}

#navbar_second {
    position: sticky;
    top: 0;
    z-index: 1;
}

#search_id:focus {
    background-color: #000;
    color: white;
}


/* Header */

#header {
    background-image: url(img/header1.jpg);
    background-size: cover;
    z-index: -1;
    height: 60vh;
    padding-top: 6rem;
}


/*Main */


/*PRODUCT*/

#product {
    height: auto;
    padding: 2rem;
}

#product h4 {
    text-align: center;
    text-transform: uppercase;
}

#product i {
    margin-left: 22%;
    font-size: 5rem;
    margin-bottom: .5rem;
    color: var(--icon-color);
}


/*Lessons*/

#lessons {
    width: 100%;
    max-width: 1515px;
    background-image: url(/img/desktop-wallpaper-solid-color-one-colour.jpg);
    background-size: cover;
    height: 70rem;
    padding-top: 2rem;
    margin-left: 0rem;
}

#lessons h3 {
    color: #000;
}


/*Frontend*/

#frontend {
    height: 30rem;
    margin: 2rem;
}

#frontend h3 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#frontend p {
    color: #000
}

#frontend i {
    margin-left: 24%;
    font-size: 5rem;
    margin-bottom: .5rem;
    color: var(--icon-color);
}

#frontend p:hover {
    background-color: var(--template-bg);
    color: white;
    transition: all 3s;
    padding: 0.5rem 0.4rem;
    opacity: .6;
    border-radius: 2%;
}

#backend {
    height: 30rem;
    margin: 2rem
}

#backend h3 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#backend i {
    margin-left: 47.5%;
    font-size: 5rem;
    margin-bottom: .5rem;
    color: var(--icon-color);
}

#backend p {
    color: #000;
}

#backend p:hover {
    background-color: var(--template-bg);
    color: white;
    transition: all 3s;
    padding: 0.5rem 0.4rem;
    opacity: .6;
    border-radius: 2%;
}


/* Blog*/

#blog {
    position: relative;
    padding-top: 3rem;
}

#blog::before {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    content: "";
    background-image: url(/img/monastery-ge7060615e_1280.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: .4;
}


/*about us */

#about_us {
    background-color: rgb(227, 245, 245);
    padding: 5rem .1rem 4rem .1rem;
    background-image: url(img/sunset-g36887b7dd_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50rem;
}


/*footer*/

.contact_first {
    background-image: url(img/contact.jpg);
    background-size: cover;
    height: 100%;
}

.contact_center {
    width: 500px;
    height: 100%;
    padding: 20px;
    z-index: -1;
    background-color: rgb(126, 71, 100);
    margin: auto;
}


/*back to top*/

#back_to_top {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(146, 189, 232);
    padding: .5rem;
    margin-right: .3rem;
    margin-bottom: .4rem;
    opacity: .6;
    border-radius: 10%;
}

#copy_right {
    height: 5rem;
    padding-top: 1.5rem;
}